IDE ARDUINO
===========
versão usada: 1.8.13
Bibliotecas a serem carregadas antes de compilar estão na pasta:
* MCUFRIEND_kbv-master
* RotaryEncoder-master
* Adafruit_GFX_Library
* Adafruit_ILI9341


PROCESSADOR ESP-WROOM-32, 40 MHz Flash internal
DRIVER SILICON LABS CP210X USB TO UART BRIDGE


Menu Ferramentas da IDE Arduino
===============================

Placa: ESP32 Dev Module
upload speed: 921600
CPU frequency: 80 MHZ (WiFI/BT)
Flash frequency: 40 MHZ
Flash Mode: QIO
Flash Size: 4MB(32MB)

ATENÇÃO
=======
A bibliteca de controle do Display LCD ILI9341, que é a MCUFRIENDS_kbv, tem 2 arquivos que devem trocados pelos arquivos "mcufriend_shield.h" e "mcufriend_special.h" contidos neste repositório.

PINAGEM FINAL ENTRE LCD E ESP-32
================================
A montagem final ficou com a seguinte configuração (dentro do arquivo mcufriend_special.h)
Como a pinagem mudou, foi por isso que mudamos os arquivos "mcufriend_shield.h" e "mcufriend_special.h"

#define LCD_RD  4  
#define LCD_WR  2
#define LCD_RS 15 
#define LCD_CS 33
#define LCD_RST 32

#define LCD_D0 12
#define LCD_D1 13
#define LCD_D2 16
#define LCD_D3 17
#define LCD_D4 5 
#define LCD_D5 26
#define LCD_D6 27
#define LCD_D7 14
